* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background: linear-gradient(45deg, #eeaeca, #94bbe9);
  min-height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}

.box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 40px 20px;
  max-width: 70vw;
}

.box {
  width: 20rem;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 30px;
  position: relative;
  text-align: center;

  h2 {
    font-size: 22px;
    color: #6e515e;
    margin-bottom: 20px;
  }

  p {
    font-size: 14px;
    line-height: 20px;
    color: #6e515ec1;
  }

  .view-button {
    background-color: #aa4b6b;
    border-radius: 50%;
    padding: 15px 20px;
    position: absolute;
    bottom: 30px;
    right: 30px;
  }
}
